extends ../layouts/index
block content
  section.ftco-section.ftco-category
    .container
      .row
        .banner
          .banner-title.d-flex.justify-content-center 
            h1 Tìm phòng trọ và căn hộ phù hợp với bạn
          img.banner-img(src="image/hero-banner.svg" alt="Image Banner")
      .row
        .col-md-12
          .slide.my-4
            .silde-title
              h3 Khám phá các thành phố nổi tiếng nhất của chúng tôi
            .silde-subtitle.text-center 
              p Xem những thành phố này có gì để cung cấp và thuê một nơi hoàn hảo
        .col-md-8
          .row
            .col-md-6.order-md-last.align-items-stretch.d-flex
              .category-wrap-2.ftco-animate.img(style='background-image: url(image/berlin.jpg);')
                .text.text-center.d-flex.justify-content-center.align-items-center.h-100
                  a.btn.btn-primary(href='/products/load=H78vnx4c') Tìm hiểu thêm
            .col-md-6
              .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(image/london.jpg);')
                //- .text.px-3.py-1
                //-   h2.mb-0
                //-     a(href='/products/load=KpvL9a4xn') Chung Cư
              .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(image/madrid.jpg);')
                //- .text.px-3.py-1
                //-   h2.mb-0
                //-     a(href='/products/load=N0YRx_qf-') Nhà Riêng
        .col-md-4
          .category-wrap.ftco-animate.img.mb-4.d-flex.align-items-end(style='background-image: url(image/paris.jpg);')
            //- .text.px-3.py-1
            //-   h2.mb-0
            //-     a(href='/products/load=YDmRLgWCb') Chung Cư Mini
          .category-wrap.ftco-animate.img.d-flex.align-items-end(style='background-image: url(image/bt.jpg);')
            //- .text.px-3.py-1
            //-   h2.mb-0
            //-     a(href='/products/load=z1f7-2DRW') Biệt Thự
  section.ftco-section.ftco-no-pb.ftco-no-pt
    .container
      .row.justify-content-center.mb-2.pb-2
        .col-md-12.heading-section.text-center.ftco-animate
          .subheading.silde-title 
            h3 Phòng mới nhất
    .container
      .row
        .owl-carousel
          each item in data
            .item
              .product
                .product-card
                  .product-card-img
                    a(href='/products/id='+item._id)
                      img(src=item.image alt='Colorlib Template')
                  .product-card-info
                    .info-content
                      .info-content-name.mt-2
                        h4= item.name
                      .info-content-price
                        p Giá: 
                          span #{item.price}$
                      .info-content-detail.d-flex.align-items-center
                        .content-detail-type
                          p= item.type
                        .content-detail-area
                          p - #{item.area}m²
                        .content-detail-furniture
                          p - #{item.furniture}                         